# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac OS
.DS_Store

# Build
build/*

\.idea/

cmake-build-debug/

examples/hello/build/

cmake-build-release/

examples/hello/build/
examples/multi_index_example/build/
examples/send_inline/build/
